<?xml version="1.0"?><!--
/**
 * @package Divante_PimcoreIntegration
 * @author Mateusz Bukowski <mbukowski@divante.pl>
 * @copyright 2018 Divante Sp. z o.o.
 * @license See LICENSE_DIVANTE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Divante_PimcoreIntegration::bridge" title="Pimcore Magento Bridge" translate="title" sortOrder="10"/>
            </resource>
        </resources>
    </acl>
</config>
