<?xml version="1.0" encoding="UTF-8" ?>
<!--
/**
 * @package Divante\PimcoreIntegration
 * @author Mateusz Bukowski <mbukowski@divante.pl>
 * @copyright 2018 Divante Sp. z o.o.
 * @license See LICENSE_DIVANTE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Divante_PimcoreIntegration" setup_version="1.0.6">
        <sequence>
            <module name="Magento_Catalog"/>
            <module name="Magento_ConfigurableProduct"/>
            <module name="Magento_Cms"/>
        </sequence>
    </module>
</config>
