<?xml version="1.0" encoding="UTF-8" ?><!--
/**
 * @package Divante_PimcoreIntegration
 * @author Mateusz Bukowski <mbukowski@divante.pl>
 * @copyright 2018 Divante Sp. z o.o.
 * @license See LICENSE_DIVANTE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="pimcore_magento_bridge" translate="label" sortOrder="100">
            <label>Pimcore Magento Bridge</label>
        </tab>
        <section id="configuration" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Basic Configuration</label>
            <tab>pimcore_magento_bridge</tab>
            <resource>Divante_PimcoreIntegration::configuration</resource>
            <group id="basic" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Basic Configuration</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Enable Pimcore Magento2 Bridge Integration</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="logger_type" translate="label" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Logger handler</label>
                    <source_model>Divante\PimcoreIntegration\Model\Config\Source\Logger\Type</source_model>
                </field>
                <field id="queue_outdated" translate="label" type="select" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Outdated Queues</label>
                    <source_model>Divante\PimcoreIntegration\Model\Config\Source\QueueOutdated</source_model>
                    <comment><![CDATA[Queues older than the selected value will be removed from a database]]></comment>
                </field>
            </group>
            <group id="prices" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Prices</label>
                <field id="is_override_enabled" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Enable price override</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[If yes then price from Pimcore will override current price, otherwise price will be set only on the first one.]]></comment>
                </field>
            </group>
        </section>
        <section id="pimcore" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Pimcore Integration</label>
            <tab>pimcore_magento_bridge</tab>
            <resource>Divante_PimcoreIntegration::pimcore</resource>
            <group id="integration" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="0">
                <label>Pimcore integration</label>
                <field id="api_key" translate="label comment" type="text" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Pimcore API key</label>
                    <comment><![CDATA[Enter Pimcore API key]]></comment>
                </field>
                <field id="endpoint" translate="label comment" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Pimcore Endpoint</label>
                    <comment><![CDATA[Enter Pimcore Endpoint Url]]></comment>
                </field>
                <field id="instance_url" translate="label comment" type="text" sortOrder="25" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Instance Url</label>
                    <comment><![CDATA[Leave blank if the same as base url]]></comment>
                </field>
                <field id="category_queue_process" translate="label comment" type="text" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Category Queue Processor Limit</label>
                    <validate>validate-number</validate>
                    <comment>
                        <![CDATA[Limit of how many category queues entities should be processed in one batch action.]]></comment>
                </field>
                <field id="product_queue_process" translate="label comment" type="text" sortOrder="40" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Products Queue Processor Limit</label>
                    <validate>validate-number</validate>
                    <comment>
                        <![CDATA[Limit of how many product queues entities should be processed in one batch action.]]></comment>
                </field>
                <field id="asset_queue_process" translate="label comment" type="text" sortOrder="50" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Assets Queue Processor Limit</label>
                    <validate>validate-number</validate>
                    <comment>
                        <![CDATA[Limit of how many asset queues entities should be processed in one batch action.]]></comment>
                </field>
            </group>
        </section>
        <section id="cron" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Cron Settings</label>
            <tab>pimcore_magento_bridge</tab>
            <resource>Divante_PimcoreIntegration::pimcore</resource>
            <group id="attribute_sets" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Removing Unused Attribute Sets</label>
                <field id="frequency" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Frequency</label>
                    <source_model>Magento\Cron\Model\Config\Source\Frequency</source_model>
                    <backend_model>Divante\PimcoreIntegration\System\Config\UnusedAttributeSetFrequency</backend_model>
                </field>
                <field id="time" translate="label comment" sortOrder="2" type="time" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Start Time</label>
                </field>
            </group>
            <group id="attribute_options" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Removing Unused Attribute Options</label>
                <field id="frequency" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Frequency</label>
                    <source_model>Magento\Cron\Model\Config\Source\Frequency</source_model>
                    <backend_model>Divante\PimcoreIntegration\System\Config\UnusedAttributeOptionsFrequency</backend_model>
                </field>
                <field id="time" translate="label comment" sortOrder="2" type="time" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Start Time</label>
                </field>
            </group>
            <group id="enable_products" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Enable Products</label>
                <field id="is_active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Is enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
